.player {   
    background: #36454F;
    padding: 8px;
    color: white;
}
.album-art {
    width: 100px;
}

.album-art img {
    width: 100%
}

.player-controls button {
  margin: 0 5px 20px 5px;
}

 .progress-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
}

.mat-slider-horizontal {
    width: 400px;
  }
