<div class="player">
    <div class="current-track">
        <div *ngIf="currentTrack?.albumArtSrc" class="album-art" style="margin: 16px;">
            <img [src]="currentTrack?.albumArtSrc" />
        </div>
        <div class="track-info" style="margin-left: 16px;">
            <h5>{{currentTrack?.name}} </h5>
            <h6>{{currentTrack?.artist}}</h6>
        </div>
    </div>
    <section class="progress-section">
        <mat-slider min="0" max="100" [invert]="false" (change)="onSliderChange($event)" (input)="onInputChange($event)"
            [(ngModel)]="progress"></mat-slider>
    </section>
    <div class="player-controls">
        <button mat-mini-fab (click)="skip(Direction.Prev)">
            <mat-icon aria-label="Play previous track button">skip_previous</mat-icon>
        </button>
        <button mat-fab (click)="togglePlay()">
            <div *ngIf="isPlaying; then pauseBtn else resumeBtn"></div>
            <ng-template #pauseBtn>
                <mat-icon aria-label="Pause button">pause</mat-icon>
            </ng-template>
            <ng-template #resumeBtn>
                <mat-icon aria-label="Play button">play_arrow</mat-icon>
            </ng-template>
        </button>
        <button mat-mini-fab (click)="skip(Direction.Next)">
            <mat-icon aria-label="Play next track button">skip_next</mat-icon>
        </button>
        <button mat-mini-fab (click)="toggleMute()" style="float: right; margin: 8px">
            <div *ngIf="isMuted; then unmuteBtn else muteBtn"></div>
            <ng-template #unmuteBtn>
                <mat-icon aria-label="Volume up button">volume_up</mat-icon>
            </ng-template>
            <ng-template #muteBtn>
                <mat-icon aria-label="Volume off button">volume_off</mat-icon>
            </ng-template>
        </button>
    </div>
</div>