<form [formGroup]="playlistNewForm" (ngSubmit)="savePlaylist()">
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" formControlName="name" id="name" [ngClass]="{ 'is-invalid': f.name.errors }">
      <div *ngIf="f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Title is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" formControlName="description" id="description">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn" (click)="revert()">Revert</button>
  </form>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>New Playlist</h2>
      <form [formGroup]="playlistNewForm" (ngSubmit)="savePlaylist()">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" formControlName="name" id="name" [ngClass]="{ 'is-invalid': f.name.errors }">
          <div *ngIf="f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Title is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" formControlName="description" id="description">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn" (click)="revert()">Revert</button>
      </form>
    </div>
  </div>
</div> -->

<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form> -->
