<div class="nav-wrapper">
  <ul>
    <li>
      <a (click)="onTurntable()">
        <img src="assets/turntable.png" class="turntable">
      </a>
    </li>
    <li routerLinkActive="active"><a [routerLink]="['playlists']">Playlists</a></li>
    <li routerLinkActive="active"><a [routerLink]="['artists']">Artists</a></li>
    <li routerLinkActive="active"><a [routerLink]="['releases']">Releases</a></li>
    <li routerLinkActive="active"><a [routerLink]="['genres']">Genres</a></li>
    <li routerLinkActive="active"><a [routerLink]="['labels']">Labels</a></li>
  </ul>
</div>