.turntable {
	/* margin-top: 16px; */
}

ul.nav {
    color: #fff;
    list-style: none;
    background: rgb(31, 132, 190);
}

ul.nav li {
    display: inline-block;
    padding-right: 30px;
}

a {
    color: #fff;   
    text-decoration: none; 
}

/* Common styles for all menus */
.menu {
	line-height: 1;
	margin: 0 auto 3em;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Prospero */

.menu--prospero .menu__link {
	position: relative;
	display: block;
	margin: 0 1.5em;
	padding: 0.75em 0;
	text-align: center;
	color: #b5b5b5;
	transition: color 0.3s;
}

.menu--prospero .menu__link:hover,
.menu--prospero .menu__link:focus {
	color: #929292;
}

.menu--prospero .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--prospero .menu__link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: #d94f5c;
	transform: scale3d(0, 1, 1);
	transition: transform 0.1s;
}

.menu--prospero .menu__item--current .menu__link::before {
	transform: scale3d(1, 1, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
}




/* Juno */
.menu--juno .menu__item {
	position: relative;
	overflow: hidden;
	margin: 0.5em;
}

.menu--juno .menu__link {
	position: relative;
	z-index: 10;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--juno .menu__link:hover,
.menu--juno .menu__link:focus {
	color: #929292;
}

.menu--juno .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--juno .menu__item::before,
.menu--juno .menu__item::after,
.menu--juno .menu__link::before,
.menu--juno .menu__link::after {
	content: '';
	position: absolute;
	pointer-events: none;
	opacity: 0;
	background: #d94f5c;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* top and bottom line */
.menu--juno .menu__item::before,
.menu--juno .menu__item::after {
	left: 0;
	width: 100%;
	height: 2px;
}

.menu--juno .menu__item::before {
	top: 0;
	-webkit-transform: translate3d(0, 15px, 0);
	transform: translate3d(0, 15px, 0);
}

.menu--juno .menu__item::after {
	bottom: 0;
	-webkit-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);
}

/* left and right line */
.menu--juno .menu__link::before,
.menu--juno .menu__link::after {
	top: 0;
	width: 2px;
	height: 100%;
}

.menu--juno .menu__link::before {
	left: 0;
	-webkit-transform: translate3d(15px, 0, 0);
	transform: translate3d(15px, 0, 0);
}

.menu--juno .menu__link::after {
	right: 0;
	-webkit-transform: translate3d(-15px, 0, 0);
	transform: translate3d(-15px, 0, 0);
}

.menu--juno .menu__item--current::before,
.menu--juno .menu__item--current::after,
.menu--juno .menu__item--current .menu__link::before,
.menu--juno .menu__item--current .menu__link::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}