<div class="cont">
    <div class="navbar-fixed" style="position: fixed; width: 100%;
    z-index: 2;">
        <!-- <div style="position: fixed;
    z-index: 2;"> -->
            <nav (toggled)="onToggled($event)"></nav>
        <!-- </div> -->
    </div>

    <div style="flex:  1 0 auto;min-height: 100vh; margin-top: 64px;">
        <mat-sidenav-container>
            <mat-sidenav #sidenav mode="over" opened [fixedInViewport]="true" [fixedTopGap]="64">
                <library-sidenav></library-sidenav>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="scrollable-content" [@routerTransition]="getRouteAnimation(o)">
                    <router-outlet #o="outlet"></router-outlet>
                </div>
                <player-footer></player-footer>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>