  .cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
      
  .scrollable-content {
    background: #B6C4CC;
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh;
  }
   
.mat-sidenav {
  flex: 1;
   width: 400px;
}