
<div class="player">
    <div class="info">
      <div class="menu-row">
        <div class="btn menu left"><i class="fa fa-bars"></i></div>
        <div class="btn options right"><i class="fa fa-ellipsis-v"></i></div>
        <div class="btn heart right"><i class="fa fa-heart"></i></div>
      </div>
      <div class="song">Feel So Close - Radio Edit</div>
      <div class="artist">Calvin Harris</div>
      <div class="time">3:26</div>
    </div>
    <div class="controls">
      <div class="playback">
        <div class="previous"><i class="fa fa-step-backward"></i></div>
        <button class="pause"><i class="fa fa-pause"></i></button>
        <div class="next"><i class="fa fa-step-forward"></i></div>
      </div>
      <div class="volume">
        <button class="vol-down"><i class="fa fa-volume-down"></i></button>
        <div class="vol-bar">
          <div class="level"></div>
        </div>
        <button class="vol-up"><i class="fa fa-volume-up"></i></button>
      </div>
      <div class="playlist"><i class="fa fa-bars"></i></div>
      <div class="shuffle"><i class="fa fa-random"></i></div>
    </div>
    <div class="track">
      <div class="complete"></div>
    </div>
  </div>