<div class="container">
  <div class="genre-view">
    <mat-card>
      <h4>{{genre?.name}}</h4>
      <ul>
        <ng-container *ngIf="genre?.tracks">
          <li *ngFor="let t of genre.tracks">
            <div>
              <!-- <a [routerLink]="['./releases', t.releaseId]">{{t.name}} - {{t.artist}}</a> -->
              {{t.name}} - {{t.artist.name}}
              <button mat-icon-button color="primary" matTooltip="Go to release" [routerLink]="['/releases', t.releaseId]">
                <mat-icon aria-label="Go to release">album</mat-icon>
              </button>
              <button mat-icon-button color="accent" (click)="addTrackToQueue(t)" matTooltip="Add track to play queue">
                <mat-icon aria-label="Add to playlist button">playlist_add</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="addAndPlayTrack(t)" matTooltip="Play track">
                <mat-icon aria-label="Play track button">playlist_play</mat-icon>
              </button>
            </div>
          </li>
        </ng-container>
      </ul>
    </mat-card>
  </div>
</div>