.release-view {
    padding: 20px;
}

.release-header {
    display: flex;
    margin-bottom: 40px;
}

.albumart-wrapper {

}

.albumart {
    height: 200px;
    width: 200px;
    
}

.release-details {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.title-row {
    display: flex;
}

.play-btn {
    margin: 24px 0 0 12px;
}

.release-artists {
    font-weight: bold;
    display: flex;
}

.tracks {
    margin: 0 0 40px 0;
}

.mat-row:hover {
    
}

.albumart-snackbar-container {
    border: 5px solid black;
}