<div class="container release-view">
  <mat-card>
    <div class="release-header">
      <div class="albumart-wrapper">
        <ng-container *ngIf="release.coverImgSrc != null; then albumArt; else noAlbumArt"></ng-container>
        <ng-template #albumArt>
          <img class="albumart" [src]="release.coverImgSrc" [alt]="release.name">
        </ng-template>
        <ng-template #noAlbumArt>
          <img class="albumart" src="http://localhost:55306/albumart/white-label.jpg" [alt]="release.name">
        </ng-template>
      </div>
      <div class="release-details">
        <div class="title-row">
          <h3>{{release?.name}}</h3>
          <div class="play-btn">
            <button mat-fab color="accent" (click)="playRelease(release)">
              <mat-icon aria-label="Play button" matTooltip="Play release">play_arrow</mat-icon>
            </button>
          </div>
        </div>
        <div class="release-artists">
          <a [routerLink]="['/artists', release.tracks[0].artistId]">{{release.tracks[0].artist}}</a>
        </div>
        <div>
          Date: {{release.releaseDate | date }}
        </div>
        <div>
          Label: <a [routerLink]="['/labels', release.labelId]">{{release.labelName}}</a>
        </div>
      </div>
    </div>
    <div class="tracks">


      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;">
              <button mat-icon-button color="accent" (click)="addTrackToQueue(element)" matTooltip="Add track to play queue">
                <mat-icon aria-label="Add to playlist button">playlist_add</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="addAndPlayTrack(element)" matTooltip="Play track">
                <mat-icon aria-label="Play track button">playlist_play</mat-icon>
              </button>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="genre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/genres', element.genreId]">{{element.genre}}</a>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="length">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.length}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
      </table>

    </div>
  </mat-card>
</div>