<div class="container">
  <div class="labels">
    <form class="form">
      <mat-form-field appearance="standard" class="full-width">
        <input matInput placeholder="Filter" [(ngModel)]="listFilter" name="listFilter">
      </mat-form-field>     
    </form>
    <ng-container *ngIf="labels$ | async as labels; else loading">
      <div class="alphab-view" *ngFor="let item of labels | labelFilter:listFilter | groupAlphabetically:name">
        <h4>{{item.key}}</h4>
        <mat-card *ngFor="let label of item.value" class="label" [routerLink]="[label.id]" [queryParams]="{filterBy: listFilter}">
          <h6>
            {{label.name}}
          </h6>
          <div>
            {{label.description}}
          </div>
        </mat-card>
      </div>
    </ng-container>
    <ng-template #loading>
      <h5>Loading labels...</h5>
    </ng-template>
  </div>
</div>