<div class="container">
  <div class="releases" *ngIf="releases$ | async as releases; else loading">    
    <mat-card *ngFor="let r of releases" class="release">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{r.name}}</mat-card-title>
        <mat-card-subtitle><a [routerLink]="['/labels', r.labelId]">{{r.label}}</a></mat-card-subtitle>
        <mat-card-subtitle>Date: {{r.releaseDate | date:'mediumDate'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="r.coverImgSrc != null; then albumArt; else noAlbumArt"></ng-container>
        <ng-template #albumArt>
          <img [src]="r.coverImgSrc" [alt]="r.name">
        </ng-template>
        <ng-template #noAlbumArt>
          <img src="http://localhost:55306/albumart/white-label.jpg" [alt]="r.name">
        </ng-template>
      </mat-card-content>
      <mat-card-content>
        <div *ngFor="let t of r.tracks">          
          <span>
            <span style="display: inline-block; overflow: hidden; width: 280px;">{{t.name}} - {{t.artist}}</span>
            <button mat-icon-button color="accent" (click)="addTrackToQueue(t)" matTooltip="Add track to play queue">
              <mat-icon aria-label="Add to playlist button">playlist_add</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="addAndPlayTrack(t)" matTooltip="Play track">
              <mat-icon aria-label="Play track button">playlist_play</mat-icon>
            </button>
          </span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="[r.id]">Details</button>
        <button mat-raised-button color="accent" (click)="addReleaseToQueue(r)">Add To Queue</button>
        <button mat-raised-button color="warn" (click)="playRelease(r)">Play Release</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #loading>
    <h5>Loading releases...</h5>
  </ng-template>
  <!-- <mat-paginator>
  </mat-paginator> -->
  <!-- <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul> -->
</div>