.releases {
  padding: 20px;
}
.release {
    max-width: 400px;
    margin: 0 0 10px 0;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.cover-container {
  width: 200px;
}
img {
  width: 100%;
}


