.queue-header {
    margin: 10px;
    /* flex-grow: 1;  */
}
.queue {
    margin: 10px;
    flex-grow: 1;
    overflow: auto;

    /* for Firefox */
  min-height: 0;
}
.queue-controls button{
    margin-left: 10px;
}
/* .queue-header {
    margin: 10px;
} */