<div class="queue-header">
  <h5>{{queue.length}} track(s) in queue</h5>
  <form>
    <mat-form-field appearance="standard">
      <input matInput placeholder="New playlist name" [(ngModel)]="playlistName" name="playlistName">
    </mat-form-field>
    <span class="queue-controls">
        <button mat-button color="primary" (click)="clearQueue()">Clear</button>
        <button mat-raised-button color="primary" (click)="updatePlaylist()">Save playlist</button>
    </span>
    
  </form>
</div>
<div class="queue">  
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of queue; let i = index">
        <td>
          <button mat-icon-button (click)="playTrack(t, i)">
            <mat-icon 
            aria-label="Play track button" 
            matTooltip="Play track">play_arrow</mat-icon>
          </button>
        <td>{{t.name}} - {{t.artist}}</td>
        <td>
          <button mat-icon-button (click)="removeTrack(i)">
            <mat-icon 
            aria-label="Remove track from queue button" 
            matTooltip="Remove track from queue">remove</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>