<div class="container">
  <div class="artist-view">
    <mat-card>
      <h4>{{artist?.name}}</h4>
      <ul>
        <li *ngFor="let t of artist?.tracks">
          <div>
            {{t.name}}
            <button mat-icon-button color="primary" matTooltip="Go to release" [routerLink]="['/releases', t.releaseId]">
              <mat-icon aria-label="Go to release">album</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="addTrackToQueue(t)" matTooltip="Add track to play queue">
              <mat-icon aria-label="Add to playlist button">playlist_add</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="addAndPlayTrack(t)" matTooltip="Play track">
              <mat-icon aria-label="Play track button">playlist_play</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </mat-card>
  </div>
</div>