<div class="container">
  <div class="playlists-view">
    <!-- <a mat-raised-button routerLink="/playlists/new">New Playlist</a> -->
    <!-- {{ playlists$}} -->
    <div *ngIf="playlists$ | async as playlists; else loading" class="playlists"> 
      <mat-accordion>
        <mat-expansion-panel *ngFor="let pl of playlists">
          <mat-expansion-panel-header>
            <h5>{{pl.name}}</h5>
          </mat-expansion-panel-header>
          <h6>{{pl.tracks.length}} tracks</h6>
          <div>
            {{pl.description}}
          </div>
          <ng-container *ngIf="pl.tracks.length > 0">
            <button mat-raised-button color="accent" (click)="addPlaylistToQueue(pl)">Add To Queue</button>
            <button mat-raised-button color="warn" (click)="playPlaylist(pl)">Play</button>
            <ul class="collection">
              <li class="collection-item" *ngFor="let t of pl.tracks">
                {{t.name}} - {{t.artist}}
                <!-- <a [routerLink]="['/artists', t.artistId]">{{t.artist}}</a> -->
                <!-- <button mat-icon-button color="primary" matTooltip="Go to release" [routerLink]="['/releases', t.releaseId]">
                  <mat-icon aria-label="Go to release">album</mat-icon>
                </button> -->
                <button mat-icon-button color="accent" (click)="addTrackToQueue(t)" matTooltip="Add track to play queue">
                  <mat-icon aria-label="Add to playlist button">playlist_add</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="addAndPlayTrack(t)" matTooltip="Play track">
                  <mat-icon aria-label="Play track button">playlist_play</mat-icon>
                </button>
              </li>
            </ul>
            <button mat-raised-button color="accent" (click)="addPlaylistToQueue(pl)">Add To Queue</button>
            <button mat-raised-button color="warn" (click)="playPlaylist(pl)">Play</button>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </div> 
    <ng-template #loading>
      <h5>Loading playlists...</h5>
    </ng-template>
  </div>
</div>