.sidebar-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.queue-wrapper {
    flex-grow: 1;
    overflow: auto;
}

.player-wrapper {
    /* flex-shrink: 0;
    margin-top: auto */
}