<div class="container">
  <div class="artists-view">   
    <div *ngFor="let item of artists | groupAlphabetically: 'name'; last as isLast" class="artists">
      <h4>{{item.key}}</h4>
      <mat-card *ngFor="let v of item.value" [routerLink]="[v.id]">
        <h6>{{v.name}}</h6>
      </mat-card>
    </div>    
    <ng-template #loading>
      <h5>Loading artists...</h5>
    </ng-template>
  </div>
</div>