<div class="container">
  <div class="row">
    <div class="col s6">
      <mat-card>
        6-cols
      </mat-card>
    </div>
    <div class="col s6">
      <mat-card>
        6-cols
      </mat-card>
    </div>
  </div>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    Playlists:
    <div *ngFor="let playlist of playlists">
      {{playlist.name}}
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    Releases
  </mat-grid-tile>
  <mat-grid-tile>
    Tags
  </mat-grid-tile>
</mat-grid-list>