@import '~@angular/material/theming';

$primary-color-dark:   #1c313a;
$primary-color:        #455a64;
$primary-color-light:  #718792;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
