@import "./skyzee-grey.theme.scss";

// @import "./palette.scss";
@import "../node_modules/materialize-css/sass/materialize.scss";
//  @import  "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css"; 

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
  }

  

  main {
    flex: 1 0 auto;
  }
      