<div class="container label-view">

    <mat-card>
        <h4>{{label.name}}</h4>
        <ul class="collection with-header">
            <li *ngFor="let release of label.releases" class="collection-item avatar">
                <a color="primary" matTooltip="Go to release" [routerLink]="['/releases', release.id]">
                    <img [src]="release.coverImgSrc" alt="" class="circle">
                </a>
                <span class="title">{{release.name}}</span>
                <p>{{ release.releaseDate | date:'mediumDate' }}</p>
            </li>
        </ul>
    </mat-card>
    <div class="buttons-row">
        <button [routerLink]="['/labels']" queryParamsHandling="preserve" type="button" mat-button>Back</button>
    </div>
</div>