<div class="container genres-view">
  <ng-container *ngIf="genres$  | async as genres; else loading">
    <mat-card *ngFor="let genre of genres" class="genre" [routerLink]="[genre.id]">
      <h6>{{genre.name}}</h6>
    </mat-card>
  </ng-container>
  <ng-template #loading>
    <h5>Loading genres...</h5>
  </ng-template>
</div>