<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">skyzee.player</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      2018
      <a class="grey-text text-lighten-4 right" href="https://github.com/SkyZee/player">GitHub</a>
    </div>
  </div>
</footer>